.image-grid {
	.image-box {
		img {
			vertical-align: top;
		}
		&.x1 {
			img {
				max-height: 100px;
			}
		}
		&.x2 {
			img {
				max-height: 130px;
			}
		}
		&.x3 {
			img {
				max-height: 190px;
			}
		}
		&.x4 {
			img {
				max-height: 280px;
			}
		}
		&.x5 {
			img {
				max-height: 550px;
			}
		}
		&.active img {
			background-color: #00a1ff;
		}
	}
}
.sidepanel {
	background-color: var(--editor-bg-color);
	border-left: 1px solid #ddd;
	position: fixed;
	width: var(--sidepanel-width);
	left: 0;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
}
.contents {
	margin-left: var(--sidepanel-width);
}
.navbar {
	&.bg-light {
		background-color: var(--editor-bg-color) !important;
	}
	input.search {
		width: 30rem;
	}
	.btn {
		background-color: var(--editor-bg-color);
	}
	.slider-horizontal {
		width: 150px;
	}
	.btn.btn-save {
		&.modified {
			color: #fff;
			background-color: $danger;
		}
		&.saved {
			color: #fff;
			background-color: $success;
		}
	}
}
.fa-plus-circle {
	color: green;
}
.fa-minus-circle {
	color: red;
}
.keywords {
	.list-group-item {
		cursor: pointer;
		.fas {
			display: block;
			right: 0;
		}
		&:hover {
			.fas {
				display: block !important;
			}
		}
	}
}
